{{block "main" .}}package {{.PackageName}}

// This file is was generated automatically by GenGo {{.GenGo.Version}}
// Do not make changes to this file as they will be lost

import (
	"path"

	"github.com/ecnepsnai/ds"
)

{{range $store := .Stores}}
type {{$store.LowercaseName}}StoreObject struct { Table *ds.Table[{{$store.Object}}] }

// {{$store.TitlecaseName}}Store the global {{$store.LowercaseName}} store
var {{$store.TitlecaseName}}Store = {{$store.LowercaseName}}StoreObject{}

func gengoDataStoreRegister{{$store.TitlecaseName}}Store(storageDir string) {
	table, err := ds.Register[{{$store.Object}}](path.Join(storageDir, "{{$store.LowercaseName}}.db"), &ds.Options{ {{if $store.Unordered}}DisableSorting: true{{end}} })
	if err != nil {
		log.Fatal("Error registering {{$store.LowercaseName}} store: %s", err.Error())
	}
	{{$store.TitlecaseName}}Store.Table = table
}
{{end}}

// dataStoreSetup set up the data store
func dataStoreSetup(storageDir string) { {{range $store := .Stores}}
	gengoDataStoreRegister{{$store.TitlecaseName}}Store(storageDir){{end}}
}

// dataStoreTeardown tear down the data store
func dataStoreTeardown() { {{range $store := .Stores}}
	if {{$store.TitlecaseName}}Store.Table != nil {
		{{$store.TitlecaseName}}Store.Table.Close()
	}{{end}}
}

{{end}}
