{{block "main" .}}package {{.PackageName}}

// This file is was generated automatically by Codegen {{.CodeGen.Version}}
// Do not make changes to this file as they will be lost

import (
	"path"

	"github.com/ecnepsnai/ds"
)

{{range $store := .Stores}}
type {{$store.LowercaseName}}StoreObject struct { Table *ds.Table }

// {{$store.TitlecaseName}}Store the global {{$store.LowercaseName}} store
var {{$store.TitlecaseName}}Store = {{$store.LowercaseName}}StoreObject{}

func cbgenDataStoreRegister{{$store.TitlecaseName}}Store() {
	table, err := ds.Register({{$store.Object}}{}, path.Join(Directories.Data, "{{$store.LowercaseName}}.db"), &ds.Options{ {{if $store.Unordered}}DisableSorting: true{{end}} })
	if err != nil {
		log.Fatal("Error registering {{$store.LowercaseName}} store: %s", err.Error())
	}
	{{$store.TitlecaseName}}Store.Table = table
}
{{end}}

// dataStoreSetup set up the data store
func dataStoreSetup() { {{range $store := .Stores}}
	cbgenDataStoreRegister{{$store.TitlecaseName}}Store(){{end}}
}

// dataStoreTeardown tear down the data store
func dataStoreTeardown() { {{range $store := .Stores}}
	if {{$store.TitlecaseName}}Store.Table != nil {
		{{$store.TitlecaseName}}Store.Table.Close()
	}{{end}}
}

{{end}}
