{{block "main" .}}// This file is was generated automatically by GenGo {{.Version}}
// Do not make changes to this file as they will be lost

{{range $enum := .TsEnums}}{{if $enum.Description}}/** {{$enum.Description}} */
{{end}}export enum {{$enum.Name}} { {{range $value := .Values}}
{{if $value.Description}}    /** {{$value.Description}} */
{{end}}    {{$value.Key}} = {{$value.Value}},{{end}}
}

export function {{$enum.Name}}All() {
    return [ {{range $value := .Values}}
        {{$enum.Name}}.{{$value.Key}},{{end}}
    ];
}

export function {{$enum.Name}}Config() {
    return [{{range $value := .Values}}
        {
            key: '{{$value.Key}}',
            value: {{$value.Value}},
            {{if $value.Description}}description: '{{$value.Description}}',{{end}}
        },{{end}}
    ];
}

{{end}}{{end}}