{{block "main" .}}package {{.PackageName}}

// This file is was generated automatically by Codegen {{.CodeGen.Version}}
// Do not make changes to this file as they will be lost

import (
    "encoding/gob"

    {{range $import := .Imports}}"{{$import}}"
    {{end}}
)

func cbgenGobRegisterType(o interface{}) {
	defer cbgenGobPanicRecovery()
	gob.Register(o)
}

func cbgenGobPanicRecovery() {
	recover()
}

// gobSetup register gob types
func gobSetup() {
    {{range $gob := .Gobs}}
    cbgenGobRegisterType({{$gob.Type}})
    {{end}}
}

{{end}}