{{block "main" .}}package {{.PackageName}}

// This file is was generated automatically by GenGo {{.GenGo.Version}}
// Do not make changes to this file as they will be lost

import (
    "encoding/gob"

    {{range $import := .Imports}}"{{$import}}"
    {{end}}
)

func gengoGobRegisterType(o interface{}) {
	defer gengoGobPanicRecovery()
	gob.Register(o)
}

func gengoGobPanicRecovery() {
	recover()
}

// gobSetup register gob types
func gobSetup() {
    {{range $gob := .Gobs}}
    gengoGobRegisterType({{$gob.Type}})
    {{end}}
}

{{end}}