{{block "main" .}}package {{.PackageName}}

// This file is was generated automatically by Codegen v{{.CodeGen.Version}}
// Do not make changes to this file as they will be lost

import (
	"bytes"
	"encoding/gob"

	"github.com/ecnepsnai/store"

	{{range $import := .Imports}}
    "{{$import}}"
    {{end}}
)

type stateObject struct {
	store *store.Store
}

// State the global state object
var State *stateObject

// StateSetup load the saved state
func StateSetup() {
	s, err := store.New(Directories.Data, "state")
	if err != nil {
		log.Fatal("Error opening state store: %s", err.Error())
	}
	state := stateObject{
		store: s,
	}
	State = &state
}

// Close closes the state session
func (s *stateObject) Close() {
	s.store.Close()
}

{{range $property := .Properties}}
// Get{{$property.Name}} get the {{$property.Name}} value
func (s *stateObject) Get{{$property.Name}}() {{$property.Type.Type}} {
	d := s.store.Get("{{$property.Name}}")
	if d == nil {
		return {{$property.Default}}
	}
	v, err := cbgenStateDecode{{$property.Type.Name}}(d)
	if err != nil {
		log.Error("Error decoding %s value for %s: %s", "{{$property.Type.Type}}", "{{$property.Name}}", err.Error())
		return {{$property.Default}}
	}
	log.Debug("state: key='state.{{$property.Name}}' current='%v'", v)
	return *v
}

// Set{{$property.Name}} set the {{$property.Name}} value
func (s *stateObject) Set{{$property.Name}}(value {{$property.Type.Type}}) {
	b, err := cbgenStateEncode{{$property.Type.Name}}(value)
	if err != nil {
		log.Error("Error encoding %s value for %s: %s", "{{$property.Type.Type}}", "{{$property.Name}}", err.Error())
		return
	}
	log.Debug("state: key='state.{{$property.Name}}' new='%v'", value)
	s.store.Write("{{$property.Name}}", b)
}

// Default{{$property.Name}} get the default value for {{$property.Name}}
func (s *stateObject) Default{{$property.Name}}() {{$property.Type.Type}} {
	return {{$property.Default}}
}

// Reset{{$property.Name}} resets {{$property.Name}} to the default value
func (s *stateObject) Reset{{$property.Name}}() {
	s.Set{{$property.Name}}(s.Default{{$property.Name}}())
}
{{end}}

{{range $type := .Types}}
func cbgenStateEncode{{$type.Name}}(o {{$type.Type}}) ([]byte, error) {
	var buf bytes.Buffer
	err := gob.NewEncoder(&buf).Encode(o)
	if err != nil {
		return nil, err
	}
	return buf.Bytes(), nil
}
func cbgenStateDecode{{$type.Name}}(data []byte) (*{{$type.Type}}, error) {
	w := new({{$type.Type}})
	reader := bytes.NewReader(data)
	dec := gob.NewDecoder(reader)
	if err := dec.Decode(&w); err != nil {
		return nil, err
	}
	return w, nil
}
{{end}}

{{end}}